*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* % instad of px allows user to override font size if they want */ }

body {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  font-weight: 300;
  font-size: 7rem;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding: 0 2rem;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-center-horizontal {
  text-align: center; }

.u-center-2-of-3 {
  border: 1px solid red; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.btn:link, .btn:visited {
  color: #000;
  text-decoration: none;
  padding: .5rem 2.5rem;
  border-radius: 50px;
  display: inline-block;
  /* Allows us to have top-bottom padding */
  margin: auto;
  font-size: 1.6rem;
  cursor: pointer; }

.btn-yellow {
  background-color: #F9F450; }

.school__caption {
  display: block;
  text-align: center; }

.school__link:link, .school__link:visited {
  text-decoration: none;
  transition: all .4s; }

.school__link:hover {
  color: #2998ff; }

.school__image {
  width: 100%; }

.banner {
  color: red;
  height: 50vh;
  background-color: rgba(155, 155, 155, 0.6);
  border: 1px solid red; }

.footer {
  background-image: url(../../img/UCLA-Hero.jpg);
  background-size: cover;
  padding: 5rem 20rem;
  margin-top: 5rem; }
  .footer__copyright {
    color: #F9F450;
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3);
    border-top: 1px solid transparent; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem)/4) + 2 * 6rem); }

.header {
  height: 100vh;
  background-image: url(../img/UCLA-Hero-2.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header-nav {
    background-image: url(../img/UCLA-Hero-cut-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 60vh; }

/*
.navigation {

    &__nav {
        text-align: center;
    }

    &__list {
        list-style: none;
        display: inline-block;
    }

    &__item {
        display: inline-block;
        margin-top: 2rem;
        float: left;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-white;
            font-size: 1.8rem;
            font-weight: 300;
            text-decoration: none;
            padding: .3rem 1rem;
            border: 1px solid transparent;
            border-radius: 7px;

        }

        &:hover {
            border: 1px solid rgba($color-white, .4);


            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
 

    }

}


li {
    margin-left: 50px;
}
*/
.navigation__nav {
  background-color: #023a6e; }
  .navigation__nav:after {
    content: '';
    clear: both;
    display: block; }
  .navigation__nav div div > ul > li {
    float: left;
    position: relative; }
  .navigation__nav div div ul {
    list-style: none;
    margin: 0; }
    .navigation__nav div div ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 300;
      text-decoration: none;
      padding: 1.5rem 2rem;
      display: block; }
      .navigation__nav div div ul li a:hover {
        color: #F9F450; }
    .navigation__nav div div ul li:hover > ul {
      display: block; }
    .navigation__nav div div ul ul {
      position: absolute;
      padding: 0;
      width: 35rem;
      display: none;
      top: 100%;
      left: 0;
      z-index: 5; }
      .navigation__nav div div ul ul li:hover a {
        background-color: #50828f;
        color: #F9F450; }
      .navigation__nav div div ul ul a {
        text-align: left;
        font-size: 1.3rem;
        padding: .2rem 1.5rem;
        display: block;
        background-color: #023a6e; }

.main-container {
  float: left;
  position: relative;
  left: 50%; }

.fixer-container {
  float: left;
  position: relative;
  left: -45%; }

.profile-1 {
  float: left;
  width: 45.5%; }

.profile-2 {
  float: right;
  width: 45.5%; }

.profile__title {
  text-align: center; }

.two-thirds {
  position: relative;
  max-width: 65%;
  border: 1px solid blue;
  margin: auto; }
  .two-thirds::after {
    content: "";
    display: table;
    clear: both; }

.section-about {
  color: #fff;
  background-color: #023A6E;
  padding: 5rem 15rem; }
