@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;    // clears both float left and float right
    }
}

@mixin center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-one-third {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-horizontal {
    text-align: center;
}