.header { 
    height: 100vh;
    background-image: url(../img/UCLA-Hero-2.jpg);

    background-size: cover;
    background-position: top;
    position: relative;


    //margin-top: -15vh;

    &-nav {
        background-image: url(../img/UCLA-Hero-cut-small.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
        height: 60vh;
    }

}