/*
.navigation {

    &__nav {
        text-align: center;
    }

    &__list {
        list-style: none;
        display: inline-block;
    }

    &__item {
        display: inline-block;
        margin-top: 2rem;
        float: left;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-white;
            font-size: 1.8rem;
            font-weight: 300;
            text-decoration: none;
            padding: .3rem 1rem;
            border: 1px solid transparent;
            border-radius: 7px;

        }

        &:hover {
            border: 1px solid rgba($color-white, .4);


            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
 

    }

}


li {
    margin-left: 50px;
}
*/


.navigation__nav {
    //background-color: rgba($color-black, .15);
    background-color: rgba(#023A6E, 1);
    //border: 1px solid red;

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    div {
        div {
            > ul {

                > li {              // main nav links
                    float: left;
                    position: relative;
                }
            }
        
            ul {
                list-style: none;
                margin: 0;
        
                li {
                    a {             // main nav links
                        text-decoration: none;
                        color: $color-white;
                        font-size: 1.8rem;
                        font-weight: 300;
                        text-decoration: none;
                        padding: 1.5rem 2rem;
                        display: block;

                        &:hover {      // when hovering over main nav links
                            color: $color-yellow-light-1;
                        }
                    }
        
                    &:hover{    // when hovering over main nav links, show sub links

                        a {
                            //background: #34495a;
                        }
        
                        > ul {  // directory links
                            display: block;
                        }
                    }
                }
        
                ul {    // directory links as a whole
                    position: absolute;
                    //border: 1px solid red;
                    padding: 0;
                    //min-width: 16rem;
                    width: 35rem;
                    display: none;
                    top: 100%;
                    left: 0;
                    //background-color: rgba(#025e87, 0);
                    z-index: 5;
        
        
                    li:hover a {    // when hovering over inner directory links
                        //background-color: rgba($color-black, .25);    // Used this to play around and find the yellow highlight color
                        background-color: rgba(#50828f, 1);
                        color: $color-yellow-light-1;
                    }
        
                    a {     // inner directory links
                        text-align: left;
                        font-size: 1.3rem;

                        padding: .2rem 1.5rem;
                        display: block;
                        //background-color: rgba(#025e87, 1);       // Old background color that's lighter and yellowish
                        background-color: rgba(#023A6E, 1);       // New color that matches the nav color

                        //border: 1px solid red;
                        //border-radius: 10px;
                        //line-height: 3rem;
                    }
                }
        
            }
        }
    }
}

.main-container {
    float: left;
    position: relative;
    left: 50%;              // Makes everything shift to the right by 50%
  }
  .fixer-container {
    float: left;
    position: relative;
    // This needs some tweaking... for some reason -50% shifts too much left
    left: -44%;             // Shift to the left by 50% of current element's width -> centers the nav bar
  }