.navigation {

    &__nav {
        text-align: center;
    }

    &__list {
        list-style: none;
        display: inline-block;
    }

    &__item {
        display: inline-block;
        margin-top: 2rem;
        float: left;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-white;
            font-size: 1.8rem;
            font-weight: 300;
            text-decoration: none;
            padding: .3rem 1rem;
            border: 1px solid transparent;
            border-radius: 7px;

        }

        &:hover {
            border: 1px solid rgba($color-white, .4);


            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
 

    }

}


li {
    margin-left: 50px;
}