.btn {
    &:link,
    &:visited {
        color: $color-white;
        background-color: $color-gray-dark-2;
        text-decoration: none;
        padding: .5rem 2.5rem;
        border-radius: 50px;
        display: inline-block;  /* Allows us to have top-bottom padding */
        margin: auto;
        font-size: $default-font-size;

        // change for the <button> element 
        //border: 1px solid red;
        cursor: pointer;
    }
}