.school {

    &__caption {
        display: block;
        text-align: center;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            transition: all .4s;
            color: $color-blue-dark-1;
            font-weight: 600;
            font-size: 2rem;
            margin: auto;
            display: block;
        }

        &:hover {
            color: $color-tertiary-light;
        }
    }

    &__image {
        width: 100%;
        transition: all .3s;

        &:hover {
            transform: translateY(-.25rem);
            box-shadow: .5rem .5rem 2rem rgba($color-black, .4);
        }
    }
    
}