body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-gray-dark;
}

.heading-landing-primary {
    color: $color-white;
    font-weight: 300;
    font-size: 7rem;
    //font-style: normal;
    padding-bottom: 0;
    border-bottom: 1px solid rgba($color-white, .8);
    padding: 0 2rem;
    @include center-one-third;
}

.heading-reg-primary {
    /*

    border-bottom: 1px solid rgba($color-white, .8);
    padding: 0 2rem;
    @include center-one-third;
    text-transform: uppercase;*/
    //border: 1px solid red;
    font-weight: 400;
    font-size: 7rem;
    display: inline-block;
}

.heading-secondary {
    font-family: 'Hind', sans-serif;
    font-size: 3.5rem;
}

.heading-tertiary {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4rem;
    color: $color-blue-dark-1;
}